# PostgreSQL Credentials
PG_USER=postgres
PG_HOST=localhost
PG_DATABASE=productdb
PG_PASSWORD=postgres
PG_PORT=5432

# JWT Secret
JWT_SECRET=thisisareallystrongandlongsecretkey

# Server Port
PORT=5000